.btns {
  display: flex;
  column-gap: 8px;
}

.btn {
  background-color: var(--font-color-one);
  padding: 8px;
  border-radius: 20px;
  border: none;
  color: var(--font-color-two);
  overflow: hidden;
  cursor: pointer;
}

.btn a {
  color: var(--font-color-two);
  font-family: DM Sans;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
}

.btn:hover,
.btn:focus {
  box-shadow: var(--btnShadow);
  background-color: var(--font-color-two);
  transform: scale(1.1);
  & a {
    color: aliceblue;
  }

  & {
    color: aliceblue;
  }
}

.hero__btns {
  position: absolute;
  bottom: 160;
}
.hero__btn {
  opacity: 0;
  animation-name: hero__btns;
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.hero__btn:nth-child(1) {
  animation-delay: 3.5s;
}

.hero__btn:nth-child(2) {
  animation-delay: 4s;
}

@keyframes hero__btns {
  0% {
    opacity: 0;
    scale: 0.1;
  }
  80% {
    opacity: 1;
    scale: 1.3;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
