.btns {
  display: flex;
  column-gap: 8px;
}

.btn {
  background-color: var(--font-color-one);
  padding: 8px;
  border-radius: 20px;
  border: none;
  color: var(--font-color-two);
  overflow: hidden;
  cursor: pointer;
}

.btn a {
  color: var(--font-color-two);
  font-family: DM Sans;
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
}

.btn:hover,
.btn:focus {
  box-shadow: var(--btnShadow);
  background-color: var(--font-color-two);
  transform: scale(1.1);
  & a {
    color: var(--font-color-one);
  }

  & {
    color: var(--font-color-one);
  }
}
