@import '~node_modules/modern-normalize/modern-normalize.css';

*,
::before,
::after {
  transition-duration: var(--transitionDuration);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding-left: var(--secton_side_padding);
  padding-right: var(--secton_side_padding);
  margin: 0;
  width: 100vw;
  content-visibility: auto;
}

img {
  display: block;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  display: block;
  margin: 0;
}

ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
}

.section__title {
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--font-color-two);
  margin-bottom: 31px;
}

.section__review {
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  text-align: center;
  color: var(--main-section-bg);
  margin-top: 121px;
  margin-bottom: 15px;
}
