.hero__section {
  padding-top: 182px;
  min-height: 500px;
  background-color: var(--main-section-bg);
  background-image: url(../images/hero-elipse-big.png);
  background-repeat: no-repeat;
  background-size: 346px;

  position: relative;
  align-items: flex-start;
  animation-name: bg__img;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes bg__img {
  0% {
    background-position: bottom 75px right -347px;
  }
  100% {
    background-position: bottom 75px right -62px;
  }
}

.hero__title {
  font-size: 26px;
  line-height: 1.15;
  text-align: left;
  color: var(--font-color-one);
  text-shadow: 3px 3px 1px #0000003d;
  margin-bottom: 19px;

  z-index: 100;

  animation-name: hero__title;
  animation-duration: var(--animationDuration);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 2s;

  & span {
    font-size: 48px;
    color: var(--font-color-two);
    z-index: 10;
  }
}

@keyframes hero__title {
  0% {
    opacity: 0;
    // top: 500px;
    left: -300px;
  }
  100% {
    opacity: 1;
    // top: 30px;
    left: 20;
  }
}

.hero__icecream {
  position: absolute;
  bottom: 0;
  opacity: 0;
  animation-name: icecream;
  animation-duration: var(--animationDuration);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes icecream {
  0% {
    width: 11px;
    right: 132px;
  }
  100% {
    position: absolute;
    bottom: 0;
    opacity: 1;
    width: 171px;
    right: 32px;
  }
}

.hero__btn {
  padding: 9px 13px;
  opacity: 0;
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: hero__btns;
  z-index: 100;
}
.hero__btn:nth-child(1) {
  animation-delay: 3.5s;
}

.hero__btn:nth-child(2) {
  animation-delay: 4s;
}

@keyframes hero__btns {
  0% {
    opacity: 0;
    scale: 0.1;
  }
  80% {
    opacity: 1;
    scale: 1.3;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
