.how__section {
  background-color: var(--third-section-bg);
  background-image: url(../images/about-bg-milk-mob.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 857px left 50%;
}
.how__section img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
}
.how__description {
  width: 220px;
  margin-bottom: 36px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--font-color-three);
}

.how__description:nth-child(2) {
  margin-bottom: 20px;
}

.bold {
  color: var(--font-color-four);
  font-weight: 900;
}

.how__btn {
  width: 176px;
  height: 44px;
  position: relative;
  margin-bottom: 39px;
}

.how__statistic {
  display: grid;
  row-gap: 38px;
}

.how__statistic-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 31px;
}
.how__statistic-item h5,
.how__statistic-item img,
.how__statistic-item p {
  margin-bottom: 0;
  margin-left: 0;
}
