.reviews__section {
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--second-section-bg);
}

.reviews__list {
  display: flex;
  // overflow: auto;
}
.reviews__list-item {
  // width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__list-item img {
  margin-bottom: 29px;
}
.reviews__list div {
  padding-top: 43px;
  padding-right: 62px;
  padding-bottom: 26px;
  padding-left: 62px;
  background-color: var(--review-bg);
}
.reviews__list p {
  text-align: center;
  background: repeating-linear-gradient(
    var(--review-bg-clear),
    var(--review-bg-clear) 30px,
    var(--review-bg-lines) 30px 31px
  );
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: var(--font-color-four);
  position: relative;
  z-index: 0;
}

.reviews__list p::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 3px;
  background-image: url(../images/“.png);
  background-repeat: no-repeat;
  width: 54px;
  height: 40px;
  z-index: -1;
}
