:root {
  --main-section-bg: #ffb8ca;
  --second-section-bg: #ffffff;
  --third-section-bg: #fff5f6;
  --review-bg: #fafafa;

  --font-color-one: rgba(255, 255, 255, 1);
  --font-color-two: rgba(212, 20, 67, 1);
  --font-color-three: #907e82;
  --font-color-four: #0000000;

  --secton_side_padding: 20px;

  --animationDuration: 1s;
  --transitionDuration: 500ms;

  --btnShadow: 2px 2px 1px #0000003d;
  --productBtnShadow: 0px 1px 2px #0000003d;
}

$mobile: '767px';
$tablet: '768px';
$desktop: '1200px';
