.btns {
  display: flex;
  column-gap: 8px;
}

.btn {
  background-color: var(--font-color-one);
  border-radius: 20px;
  border: none;
  color: var(--font-color-two);
  overflow: hidden;
  cursor: pointer;

  font-family: DM Sans;
  text-align: center;
}

.btn a {
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  color: var(--font-color-two);
}

.btn:hover,
.btn:focus {
  box-shadow: var(--btnShadow);
  background-color: var(--font-color-two);
  transform: scale(1.1);
  color: var(--font-color-one);

  & a {
    color: var(--font-color-one);
  }

  & svg {
    fill: var(--font-color-one);
    box-shadow: none;
  }
}
