.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;

  padding: 30px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    45deg,
    rgb(255 255 255 / 50%),
    var(--font-color-five)
  );
  z-index: 200;
  overflow: auto;

  opacity: 0;
  visibility: hidden;

  display: flex;
  transition: opacity 1s linear, transform;

  &__visible {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-section-bg);
    padding: 50px;
    text-align: center;
    column-gap: 30px;
    row-gap: 30px;

    box-shadow: 0px 0px 9px rgb(0 0 0 / 33%);

    max-height: 90vh;
    position: relative;

    & .modal__close {
      background-color: transparent;
      border: none;
      padding: 0;
      position: absolute;
      top: -30px;
      right: 0px;

      & svg {
        width: 14px;
        height: 14px;
        stroke: var(--font-color-one);
      }
    }

    & .product__img {
      margin-bottom: 30px;
    }

    & h4 {
      font-family: Titan One;
      color: #ffa5ba;
    }

    & .product__name {
      margin-bottom: 45px;
      &::after {
        content: '. . .';
        color: #ffa5ba;
        letter-spacing: 0px;
        text-align: center;
        top: 26px;
      }
    }
  }
  & p {
    font-family: Titan One;
    color: #ffa5ba;
    width: fit-content;
    height: inherit;
    margin-bottom: 0;
    overflow-y: auto;
  }
}

.discr__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__description {
  overflow-y: auto;
}

.cow {
  & img {
    width: 170px;
  }

  & p {
    max-height: 300px;
  }
}

.location__content {
  padding: 0px;
}

.franchise {
  row-gap: 20px;
  & h4 {
    font-size: 26px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px #000, 8px 9px 5px #fff;
  }
  & p {
    font-family: DM Sans;
    font-weight: 900;

    color: var(--font-color-three);
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  &-input,
  &-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--font-color-three);
    color: var(--font-color-three);
  }
}

::placeholder {
  color: rgba(0, 0, 0, 0.273);
}

@media screen and (max-width: 425px) {
  .product__wpapper img {
    max-width: 160px;
    transition-duration: var(--transitionDuration);
    // max-height: inherit;
  }
}
