<div class="modal" id="franchise-modal">
  <div class="modal__content franchise">
    <h4>FRANCHISE</h4>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, magni
      consequuntur accusantium hic nisi alias? Ex ipsam fugit odio rem animi,
      facere deserunt repudiandae corporis quis commodi assumenda natus eaque,
      quae, officiis quo voluptates ducimus totam quidem nemo repellat libero
      illum sequi. Nesciunt omnis recusandae maiores, hic reprehenderit
      voluptatibus consequatur tenetur porro tempore ad. Ipsa aliquid molestiae
      blanditiis quasi labore amet suscipit quas consequatur ipsam harum, ipsum,
      exercitationem doloribus ad dolorem velit quibusdam delectus id mollitia
      accusantium, sequi inventore voluptates minima praesentium esse. Quis
      veniam deserunt doloribus nostrum a. Molestiae odio eveniet qui eos quam a
      assumenda in similique aspernatur.
    </p>
  </div>
</div>
