<div class="modal" id="buy-now">
  <div class="modal__content">
    <button class="modal__close">
      <svg class="modal__cross">
        <use
          href="./images/symbol-defs.svg#icon-close"
          class="modal__cross"
        ></use>
      </svg>
    </button>

    <form class="modal__form">
      <input type="text" placeholder="Name" class="modal__form-input" />
      <input type="text" placeholder="email" class="modal__form-input" />
      <textarea
        placeholder="Write your comment here"
        class="modal__form-textarea"
      ></textarea>
      <button class="btn form__btn">send</button>
    </form>
  </div>
</div>
