<div class="modal" id="product-1">
  <div class="modal__content product__wpapper">
    <button class="modal__close">
      <svg class="modal__cross">
        <use
          href="./images/symbol-defs.svg#icon-close"
          class="modal__cross"
        ></use>
      </svg>
    </button>

    <img src="images/products-first-mob.png" alt="ice cream" />
    <div class="discr__wrapper">
      <h4 class="product__name">ICE CREAM</h4>
      <p class="product__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias numquam,
        natus ea doloribus animi officia quaerat placeat? Nulla, odio officiis?
      </p>
    </div>
  </div>
</div>
