<footer class="footer__section">
  <div class="footer__contacts">
    <div class="footer__header">
      <p class="footer__header-light">
        HOMEMADE ICE CREAM <br />
        MADE
      </p>
      <p class="footer__header-dark">WITH PASSION</p>
    </div>
    <div class="footer__social">
      <ul>
        <li>
          <a href="https://github.com/NatalaBoiko">
            <svg>
              <use href="./images/symbol-defs.svg#icon-social-git"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="all__rights">
    <p>
      © 2019 - IceCream. <br />
      All Rights Reserved.
    </p>
  </div>
</footer>
