<footer class="footer__section">
  <div class="footer__contacts">
    <div class="footer__header">
      <p class="footer__header-light">
        HOMEMADE ICE CREAM <br />
        MADE
      </p>
      <p class="footer__header-dark">WITH PASSION</p>
    </div>
    <!-- <div class="footer__social"> -->
    <ul class="footer__social">
      <li>
        <a href="https://github.com/NatalaBoiko">
          <svg>
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://web.telegram.org/">
          <svg>
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/">
          <svg>
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- </div> -->
    <div class="footer__contact" id="footer">
      <p>Feel free to contact</p>
      <a href="tel:+380503738465">+38 050 373 84 65</a>
    </div>
  </div>

  <div class="all__rights">
    <p class="all__p">
      © 2023 - <a href="https://github.com/NatalaBoiko"> NatalaBoiko</a>
    </p>

    <p class="all__p">All Rights Reserved</p>
  </div>
</footer>
