<header>
  <!-- //62px? -->
  <img
    class="header__logo"
    src="./images/header-logo.png"
    alt="logo"
    width="199"
  />

  <div class="header__btns">
    <button class="burger__button">
      <svg class="burger__menu">
        <use href="./images/symbol-defs.svg#icon-Burger"></use>
      </svg>
    </button>
    <button class="header__btn btn">
      Buy now
      <svg>
        <use href="./images/symbol-defs.svg#icon-header-arrow"></use>
      </svg>
    </button>
  </div>
</header>
