<section class="hero__section"  id="hero">
  <h1 class="section__title hero__title ">
    ICE CREAM <br />
    MADE WITH <br />
    <span>PASSION</span>
  </h1>

  <ul class="hero__btns btns">
    <li class="btn hero__btn "><a href="#products">Products</a></li>
    <li. class="hero__btn btn"><a href="#howItsMade">How it’s made?</a></li>
  </ul>

  <!-- <picture>
    <source srcset="..">
  </picture> -->
  <!-- <img class="hero__elipse" src="images/hero-elipse-big.png" alt="ice cream" /> -->
  <img
    class="hero__icecream"
    src="images/hero-icecream-mob.png"
    alt="ice cream"
  />
  <!-- <ul class="hero__btns btns">
    <li class="btn hero__btn "><a href="#products">Products</a></li>
    <li. class="hero__btn btn"><a href="#howItsMade">How it’s made?</a></li>
  </ul> -->
</section>
