<section class="how__section" id="howItsMade">
  <p class="section__review">TRADITION AND LOVE</p>
  <h2 class="section__title">HOW IT'S MADE?</h2>
  <img src="images/about-cow-mob.png" alt="ice cream" />
  <ul>
    <li class="how__description bold">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </li>
    <li class="how__description">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt.
    </li>
    <li class="how__description">
      Aliquam erat volutpat. Aenean <br />
      accumsan.
    </li>
  </ul>

  <button class="btn how__btn" type="buttom">
    Read more
    <svg>
      <use href="./images/symbol-defs.svg#icon-header-arrow"></use>
    </svg>
  </button>
  <ul class="how__statistic">
    <li class="how__statistic-item">
      <img src="./images/advantages-first.png" alt="" />
      <h5 class="section__title">721</h5>
      <p class="how__description bold">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="how__statistic-item">
      <img src="./images/advantages-second.png" alt="" />
      <h5 class="section__title">721</h5>
      <p class="how__description bold">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="how__statistic-item">
      <img src="./images/advantages-third.png" alt="" />
      <h5 class="section__title">721</h5>
      <p class="how__description bold">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
