<section class="location__section">
  <h2 class="hidden__title">locations</h2>
  <ul>
    <li class="location__item">
      <h3 class="location__name">CAFE</h3>
      <div class="location__wrap">
        <p class="location__city">Chicago</p>
        <p class="location__addr">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="location__wrap">
        <p class="location__city">Chicago</p>
        <p class="location__addr">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
    </li>
  </ul>
</section>
