<section class="products__section" id="products">
  <p class="section__review">100% natural</p>
  <h2 class="section__title">PRODUCTS</h2>

  <ul>
    <li class="product__vrapper">
      <img src="images/products-first-mob.png" alt="ice cream" />

      <h4 class="product__name">ICE CREAM</h4>
      <p class="product__description">
        Lorem ipsum dolor sit <br />
        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button type="button" class="product__btn btn">
        <svg class="product__btn-icon">
          <use href="images/symbol-defs.svg#icon-button-right-arrow2"></use>
        </svg>
      </button>
    </li>

    <li class="product__vrapper">
      <img src="images/products-second-mob.png" alt="ice cream" />

      <h4 class="product__name">ICE COFFEE</h4>
      <p class="product__description">
        Lorem ipsum dolor sit <br />
        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button type="button" class="product__btn btn">
        <svg class="product__btn-icon">
          <use href="images/symbol-defs.svg#icon-button-right-arrow2"></use>
        </svg>
      </button>
    </li>

    <li class="product__vrapper">
      <img src="images/products-third-mob.png" alt="ice cream" />

      <h4 class="product__name">MILKSHAKES</h4>
      <p class="product__description">
        Lorem ipsum dolor sit <br />
        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button type="button" class="product__btn btn">
        <svg class="product__btn-icon">
          <use href="images/symbol-defs.svg#icon-button-right-arrow2"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
