<section class="reviews__section">
  <ul class="reviews__list">
    <li class="reviews__list-item">
      <img src="./images/customer-reviews-first.png" alt="" />
      <div>
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
    </li>
    <!-- <li class="reviews__list-item">
      <img src="./images/customer-reviews-first.png" alt="" />
    </li>
    <li class="reviews__list-item">
      <img src="./images/customer-reviews-first.png" alt="" />
    </li> -->
  </ul>
</section>
