<section class="reviews__section">
  <h2 class="hidden__title">Reviews</h2>
  <ul class="reviews__list">
    <li class="reviews__item">
      <img src="./images/customer-reviews-first.png" alt="" />
      <div class="reviews__item-wrapper">
        <p class="reviews__descr">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <img
        class="reviews__item-dots"
        src="./images/customer-reviews-ellipse.png"
        alt=""
      />
      <p class="reviews__name">Emily, Los Angeles</p>
      <div class="reviews__temporary"></div>
    </li>
  </ul>
</section>
