<section class="reviews__section">
  <h2>Reviews</h2>
  <ul class="reviews__list">
    <li class="reviews__list-item">
      <img src="./images/customer-reviews-first.png" alt="" />
      <div>
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <!-- <div>
        <svg>
          <use
            href="./images/symbol-defs.svg#icon-customer-reviews-symbol"
          ></use>
        </svg>
      </div> -->
    </li>
    <!-- <li class="reviews__list-item">
      <img src="./images/customer-reviews-first.png" alt="" />
    </li>
    <li class="reviews__list-item">
      <img src="./images/customer-reviews-first.png" alt="" />
    </li> -->
  </ul>
</section>
