@media screen and (min-width: $tablet) {
  .modal__content {
    & .discr__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 20px;
    }
  }

  .product__wpapper {
    flex-direction: row;
  }

  .cow p {
    max-height: 250px;
  }
}
// #buy-now .modal__content {
//   width: 80%;
// }
#buy-now {
  & .modal__content {
    width: 80%;
  }

  & .modal__form {
    width: 100%;
  }
}
