@media screen and (min-width: $desktop) {
  header {
    padding: 37px var(--secton_desktop_padding);
  }

  .header__nav {
    display: flex;
  }

  .header__nav-linc:hover,
  .header__nav-linc:focus {
    color: var(--font-color-two);
  }

  .burger__button {
    display: none;
  }
}
